.btn-contact, #btn-contact-nav, #btn-mobile-nav, .btn-form {
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  background-color: #e2444e;
  color: #fff;
  padding: 10px 30px;
  border-radius: 4px;
  border: none;
  transition: background-color .2s;
  outline: none;
  cursor: pointer;
  text-shadow: none; }

.btn-contact, .btn-form {
  display: block;
  height: 60px;
  font-size: 18px;
  margin: 20px auto 10px;
  width: 100%; }
  @media (min-width: 768px) {
    .btn-contact, .btn-form {
      width: 250px; } }
  @media (min-width: 992px) {
    .btn-contact, .btn-form {
      width: 200px; } }
  .btn-contact:hover, .btn-form:hover {
    background-color: #E2333D; }

@media (min-width: 992px) {
  .btn-contact {
    margin: 50px auto 10px; } }

@media (min-width: 992px) {
  .btn-form {
    margin: 50px 25px 10px; } }

#btn-contact-nav {
  display: none; }
  @media (min-width: 425px) {
    #btn-contact-nav {
      height: 45px;
      font-size: 14px; } }
  @media (min-width: 768px) {
    #btn-contact-nav {
      display: inline-block; } }
  #btn-contact-nav:hover {
    background-color: #E2333D; }

#btn-mobile-nav {
  display: inline-block; }
  @media (min-width: 425px) {
    #btn-mobile-nav {
      height: 45px;
      font-size: 14px; } }
  @media (min-width: 768px) {
    #btn-mobile-nav {
      display: none; } }
  #btn-mobile-nav:hover {
    background-color: #E2333D; }

.contact-container {
  display: block; }

.contact-infos {
  text-align: left; }
  @media (min-width: 768px) {
    .contact-infos {
      width: 80%;
      margin: 0 10%; } }

@media (min-width: 768px) {
  .contact-item {
    display: block;
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 80%;
    margin: 0 10%; } }

@media (min-width: 768px) {
  #gform {
    padding: 10px;
    width: 100%; } }

.form-group {
  margin-bottom: 20px;
  border: none;
  font-family: "Open Sans"; }

form label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #494949; }
form input {
  height: 40px; }
form textarea {
  height: 100px; }
form input, form textarea {
  display: block;
  width: 95%;
  border-radius: 4px;
  border: 1px solid #ddd; }
form label, form input, form textarea {
  padding: 0 10px;
  font-size: 17px;
  font-family: "Open Sans"; }

#contact p {
  font-size: 19px;
  line-height: 25px;
  margin-bottom: 10px; }

.contact-info p {
  text-align: left; }

.feat-reverse {
  background-color: #3379BF;
  color: white; }

.feat-mail {
  color: #3379BF;
  text-decoration: underline;
  font-weight: bolder; }

.nav-mobile {
  position: fixed;
  z-index: 2;
  bottom: 2%;
  right: 2%; }

.btn-more {
  background-color: #3379BF;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  height: 56px;
  width: 56px;
  line-height: 70px;
  text-align: center; }

.btn-more img {
  width: 30px; }

.btn-more-itens {
  position: absolute;
  top: -210px;
  right: 6px;
  opacity: 0;
  transition: all .3s; }
  .btn-more-itens a {
    display: block;
    margin: 10px 0;
    color: #fff;
    background-color: #3379BF;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 50px; }

.btn-more-show {
  opacity: 1; }

.logo {
  width: 105px;
  transition: all 0.3s; }
  @media (min-width: 768px) {
    .logo {
      width: 130px; } }

.logo_fixed {
  width: 85px;
  transition: all 0.3s; }
  @media (min-width: 768px) {
    .logo_fixed {
      width: 75px; } }

#logo-filter {
  display: flex;
  align-items: center;
  flex-direction: column; }

.logo-footer {
  filter: opacity(60%) grayscale(100%); }

.logo-mmelo {
  filter: opacity(95%); }

@media (max-width: 600px) {
  .barra-nav {
    background: #f0f0f0;
    padding: 1em;
    margin: 0;
    height: 100%;
    width: 90%;
    max-width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -90%;
    transition: left 0.3s ease-out; }

  .menu-ativo .barra-nav {
    right: 0; }

  .menu-principal li {
    padding: 1em 0;
    width: 100%; }

  .menu-ativo:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4); } }
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.modal-header {
  padding: 2px 16px;
  background-color: #e2444e; }
  .modal-header h3 {
    color: white; }

.modal-body {
  padding: 2px 16px; }

.modal-footer {
  padding: 2px 16px;
  background-color: #e2444e;
  color: white; }

#open-modal, #open-modal-nav {
  cursor: pointer; }

h2, h3, h4, h5 {
  font-family: "Open Sans";
  font-weight: 600;
  color: #494949; }

h2.header {
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0 15px 0; }
  @media (min-width: 768px) {
    h2.header {
      margin: 20px 0 30px 0px; } }

h3.header {
  text-align: center; }

h3 {
  font-size: 1.6em;
  margin: 20px 0 20px 0; }

h4 {
  font-size: 1.4em;
  margin: 10px 0 10px 0; }

h5 {
  font-size: 1em; }

p {
  font-family: "Open Sans";
  font-variant: normal;
  font-weight: 400;
  font-size: 24px;
  hyphens: auto;
  text-align: justify;
  line-height: 35px;
  color: #494949; }

.paragrafo:first-letter {
  background-color: #494949;
  float: left;
  color: #FFF;
  font-size: 2em;
  line-height: 1.25em;
  padding: 0 .2em;
  border-radius: 5px;
  margin-right: .1em; }
  @media (min-width: 768px) {
    .paragrafo:first-letter {
      font-size: 2.1em; } }

#sent-message {
  font-family: "Open Sans";
  color: white;
  background-color: #3379BF;
  padding: 20px; }

.certificado {
  font-weight: bold; }

@media (min-width: 768px) {
  * {
    margin: 0;
    font-weight: 400;
    line-height: 26px; } }

a {
  text-decoration: none; }

.section_info {
  padding: 5%; }

.about-container p {
  font-size: 16px;
  line-height: 1.7; }

.about-img {
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 768px) {
    .about-img {
      flex-direction: row; } }
  .about-img img {
    padding: 0 5%;
    width: 100%;
    zoom: 0.35;
    margin: 2.5% 0; }
    @media (min-width: 768px) {
      .about-img img {
        padding: 0;
        margin: 2.5%;
        width: 45%; } }

.benefits-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 90%;
  margin: 0 5%; }
  @media (min-width: 768px) {
    .benefits-container {
      width: 90%;
      margin: 0 5%; } }
  .benefits-container p {
    font-size: 15px;
    text-align: justify;
    margin: 0 0 10px; }

@media (min-width: 768px) {
  .benefits-item {
    width: 40%;
    margin: 0 5%;
    align-self: baseline; } }
@media (min-width: 1200px) {
  .benefits-item {
    width: 30%;
    margin: 0; } }
.benefits-item h3 {
  display: inline-flex;
  font-size: 20px; }
.benefits-item img {
  width: 30px;
  padding-right: 10px;
  color: #e2444e; }

.certification-container {
  padding-top: 40px; }
  @media (min-width: 768px) {
    .certification-container {
      padding: 50px 8% 0 8%; } }
  @media (min-width: 1200px) {
    .certification-container {
      padding: 50px 15% 0 15%; } }
  .certification-container p {
    font-size: 16px;
    line-height: 1.7;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%; }
    @media (min-width: 768px) {
      .certification-container p {
        padding-bottom: 5%; } }

.certification-list {
  list-style-image: url("../img/icons/circle.svg"); }

.certifications {
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 768px) {
    .certifications {
      flex-direction: row; } }
  .certifications img {
    padding: 0 5%;
    width: 100%;
    zoom: 0.35;
    margin: 2.5% 0; }
    @media (min-width: 768px) {
      .certifications img {
        padding: 0;
        margin: 2.5%;
        width: 45%; } }

.collapsible {
  background-color: #e2444e;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none; }
  .collapsible h4 {
    color: white; }

.parallax, .parallax-about {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }
  .parallax img, .parallax-about img {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%);
    zoom: 0.65; }

.parallax img {
  left: 50%; }

.parallax-about div {
  left: 0;
  zoom: .35; }
  @media (min-width: 375px) {
    .parallax-about div {
      left: 50%; } }

#parallax-contact img {
  zoom: 0.35; }

.parallax-container {
  height: 500px; }

.parallax-about {
  height: 200px; }
  @media (min-width: 768px) {
    .parallax-about {
      height: 350px; } }
  @media (min-width: 992px) {
    .parallax-about {
      height: 460px; } }
  @media (min-width: 1200px) {
    .parallax-about {
      height: 500px; } }

.parallax-container, .parallax-about {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .parallax-container p, .parallax-about p {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Open Sans";
    font-weight: 300;
    text-shadow: 2px 2px 20px #000;
    width: 80%;
    /*word-spacing: 3px;*/
    letter-spacing: 4px;
    line-height: 40px; }
  @media (min-width: 768px) {
    .parallax-container p, .parallax-about p {
      margin-top: 380px;
      font-size: 2em; } }
  @media (min-width: 992px) {
    .parallax-container p, .parallax-about p {
      font-size: 2.5em; } }

#slogan {
  font-size: 30px;
  text-align: center;
  line-height: 100%;
  margin-top: 30px;
  width: 100%; }
  @media (min-width: 425px) {
    #slogan {
      font-size: 35px; } }
  @media (min-width: 768px) {
    #slogan {
      font-size: 54px;
      color: #494949;
      line-height: 1.25em;
      margin-top: 0; } }
  @media (min-width: 992px) {
    #slogan {
      width: 80%;
      margin: 0 10%; } }
  @media (min-width: 1200px) {
    #slogan {
      width: 70%;
      margin: 0 15%; } }

.feature {
  color: #3379BF;
  font-weight: 600; }

.step-container {
  width: 90%;
  margin: 0 5%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around; }
  @media (min-width: 768px) {
    .step-container {
      width: 100%;
      margin: 0; } }
  .step-container p {
    font-size: 15px;
    text-align: justify;
    hyphens: auto;
    line-height: 30px;
    width: 90%;
    margin: 0 5% 5%; }
    @media (min-width: 768px) {
      .step-container p {
        width: 300px; } }

.step-item {
  text-align: center; }
  @media (min-width: 768px) {
    .step-item {
      padding: 20px; } }

.step-item img {
  width: 100px; }

.text_tooltip {
  background-color: #5a5858;
  width: 120px;
  text-decoration: none;
  padding: 0px 5px;
  position: absolute;
  right: 60px;
  height: 25px;
  margin-top: 15px;
  opacity: 0;
  transition: all .2s; }
  .text_tooltip:after {
    content: "";
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #5a5858;
    position: absolute;
    right: -10px;
    top: 0px; }

footer {
  background-color: #729eca;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 768px) {
    footer {
      flex-direction: row;
      align-items: center;
      justify-content: space-around; } }
  footer p {
    color: #fff;
    font-size: 1em;
    text-align: center; }

.foot-links {
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .foot-links {
      display: flex;
      flex-direction: column;
      margin-left: 100px; } }
  .foot-links p {
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 10px 0 10px 0; }
    @media (min-width: 768px) {
      .foot-links p {
        flex-direction: row;
        margin: 10px 20px; } }

.footer-nav-link {
  text-decoration: none;
  color: #fff; }

.foot-contact p {
  padding: 0px;
  margin: 0px; }

.foot-social {
  display: flex;
  justify-content: space-around;
  margin: 30px 0 0 0; }
  @media (min-width: 768px) {
    .foot-social {
      width: 250px;
      align-self: center; } }
  .foot-social a {
    margin: 0px; }

.copy p {
  font-size: 0.75em;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px; }

.mainHeader {
  width: 100%;
  padding: 20px 0;
  height: 45px;
  background-color: #fff;
  border-bottom: solid #3379BF;
  z-index: 1;
  transition: all .3s;
  position: initial;
  top: 0; }
  @media (min-width: 768px) {
    .mainHeader {
      padding: 20px 10px;
      height: 60px;
      width: 100%; } }

@media (min-width: 768px) {
  .header_fixed {
    height: 30px;
    padding: 20px 10px 40px 10px; } }

.container-top {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .container-top {
      margin: 0 15px; } }
  @media (min-width: 992px) {
    .container-top {
      margin: 0 50px; } }

.icon {
  font-size: 1.6em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

.header-nav {
  display: none; }
  @media (min-width: 768px) {
    .header-nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 20px; } }

.header-nav-link {
  display: none; }
  @media (min-width: 768px) {
    .header-nav-link {
      padding: 15px;
      color: #494949;
      text-decoration: none;
      transition: .5s;
      display: block;
      text-transform: uppercase;
      font-family: "Open Sans"; } }

@media (min-width: 769px) {
  .header-nav-link:hover {
    color: #3379BF; } }
.nav-link-selected {
  border-bottom: 1px solid #494949; }

@media not all and (max-width: 600px) {
  .menu-abrir,
  .menu-fechar {
    display: none; } }
.menu-abrir,
.menu-fechar {
  background: none;
  border: 0;
  outline: 0;
  -webkit-apperance: none;
  font-size: 1.6em;
  text-indent: -999em; }

.menu-abrir {
  height: 0;
  width: .75em;
  padding-top: .125em;
  border-top: 0.375em double #3379BF;
  border-bottom: 0.125em solid #3379BF;
  vertical-align: middle;
  margin: 0.5em; }

.menu-fechar {
  position: relative;
  height: 1em;
  width: 1em; }

.menu-fechar:before {
  content: '\00D7';
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0; }

.button {
  position: relative;
  display: block;
  overflow: hidden;
  width: 30px;
  height: 30px;
  padding: 5%; }
  @media (min-width: 768px) {
    .button {
      display: none; } }
  .button b {
    position: relative;
    display: block;
    width: 100%;
    height: 5px;
    margin: 5px auto 0;
    background-color: #3379BF;
    transition: .15s ease-out;
    left: 0; }
  .button.open b:first-child {
    transform: rotate(42deg);
    transform-origin: left; }
  .button.open b:nth-child(2) {
    left: -420%; }
  .button.open b:last-child {
    transform: rotate(-42deg);
    transform-origin: left; }

.sliding-panel-content {
  display: none;
  position: static; }
  @media (min-width: 768px) {
    .sliding-panel-content {
      display: none; } }

.nav-mobile {
  max-height: 0;
  overflow: hidden; }

.nav-mobile-show {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  position: fixed;
  width: 100%;
  transition: max-height .2s ease-out;
  height: 350px;
  max-height: 350px;
  z-index: 1; }

.mobile-nav-link {
  color: #494949;
  font-family: "Open Sans";
  text-decoration: none;
  text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
