@import 'variaveis';

@import 'content/buttons';
@import 'content/contact';
@import 'content/float-btn';
@import 'content/logo';
@import 'content/menu';
@import 'content/modal';
@import 'content/typography';

@import 'global/global';

@import 'layout/about-container';
@import 'layout/benefits-container';
@import 'layout/certification-container';
@import 'layout/parallax';
@import 'layout/slogan';
@import 'layout/step-container';
@import 'layout/tooltip';

@import 'navigation/footer';
@import 'navigation/header';
@import 'navigation/menu';
@import 'navigation/nav-mobile';


// .text-container {
// 	display: flex;
// 	width: 90%;
// }


// .icon-item {
// 	text-align: center;
// }

// .icon-item img{
// 	width: 100px;
// }


// .text-item p {
// 	font-size: 16px;
// 	width: 300px;
// 	text-align: justify;
// 	hyphens: auto;
// 	line-height: 30px;	
// }




