.certification-container {

    padding-top: 40px;
    
    @media(min-width: $tablet) {
        padding: 50px 8% 0 8%;
    }
    @media(min-width: $wide-screen) {
        padding: 50px 15% 0 15%;
    }
    p {
        font-size: 16px;
        line-height: 1.7;
        width: 90%;
        // padding: 0 5% 0 5%;
        padding-left: 5%;
        padding-right: 5%;
        @media(min-width: $tablet) {
            padding-bottom: 5%;
        }
    }
}

.certification-list {
    list-style-image: url('../img/icons/circle.svg');
}

.certifications {
    display: flex;
    align-items: center;
    flex-direction: column;
        
    @media(min-width: $tablet) {
        flex-direction: row;
    }
    
    img {
        padding: 0 5%;
        width: 100%;
        zoom: 0.35;
        margin: 2.5% 0;
        // margin: 20px 0 30px;
        @media(min-width: $tablet){
            padding: 0;
            margin: 2.5%;
            width: 45%;
        }
    }       
}

.collapsible {
    h4 {
        color: white;
    }
    background-color: $second-color;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}