#slogan {
	font-size: 30px;
	text-align: center;
	line-height: 100%;
	margin-top: 30px;
	width: 100%;

	@media(min-width: $phone) {
		font-size: 35px;
	}
		
	@media(min-width: $tablet) {
		font-size: 54px;
		color: $feat-grey;
		line-height: 1.25em;
		margin-top: 0;
	}

	@media(min-width: $desktop) {
		width: 80%;
		margin: 0 10%;
	}

	@media(min-width: $wide-screen) {
		width: 70%;
		margin: 0 15%;
	}

}

.feature {
	color: $main-color;
	font-weight: 600;
	
}

