.logo {
  width: 105px;
  transition: all 0.3s;

  @media (min-width: $tablet) {
    width: 130px;
  }
}

.logo_fixed {
  width: 85px;
  transition: all 0.3s;

  @media (min-width: $tablet) {
    width: 75px;
  }
}

#logo-filter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-footer {
  filter: opacity(60%) grayscale(100%);
}

.logo-mmelo {
  filter: opacity(95%);
}
