h2, h3, h4, h5 {
	font-family: $title-font;
	font-weight: 600;
	color: $feat-grey;
}

h2.header {
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0 15px 0;
	@media(min-width: $tablet) {
		margin: 20px 0 30px 0px;
	}
}

h3.header {
	text-align: center;
}

h3 {
	font-size: 1.6em;
	margin: 20px 0 20px 0;
}

h4 {
	font-size: 1.4em;
	margin: 10px 0 10px 0;
}

h5 {
	font-size: 1em;
}

p {
	font-family: $body-font;
	font-variant: normal ;
	font-weight: 400 ;
	font-size: 24px ;
	hyphens: auto;
	text-align: justify;
	line-height: 35px;
	color: $feat-grey;
}

.paragrafo:first-letter {
	background-color: $feat-grey;
	float: left;
	color: #FFF;
	font-size: 2em;
	line-height: 1.25em;
	padding: 0 .2em;
	border-radius: 5px;
	margin-right: .1em;
	
	@media (min-width: $tablet){
		font-size: 2.1em;
	}
}

#sent-message {
	font-family: $body-font;
	color: white;
	background-color: $main-color;
	padding: 20px;
}

.certificado {
	font-weight: bold;
}